<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://studio.consciousengines.com/model-hub/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>dwwPIYcMJumPqNi+Y/ajuQIoSBf+9U5msju0BLWAqGY=</string>
</dict>
</plist>
